<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/formsStyles.css">
</head>
<body>
    <header class="main-header">
        <img src="images/logo-mercado-liebre.svg" alt="" class="logo">        
    </header>
    <form action="/crear-producto" method="POST" class="create-form">
        <div class="control-form">
            <label>Ingresa tu usuario:</label>
            <input type="text" name="nombre" class="control"></input>
        </div>
        <div class="control-form">
            <label>Ingresa tu contraseña</label>
            <input type="text" name="precio" class="control"></input>
        </div>
        <button type="submit" class="button-login">Ingresar</button>
    </form>    
</body>
</html>